@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700&display=swap');

.background{
    box-sizing: border-box;
    width: 410px;
    height: 870px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone{
    box-sizing: border-box;
    width: 380px;
    height: 825px;
    border-radius: 20px;
    padding: 0px 30px;
    background-image: linear-gradient(to bottom, transparent, #F3F4F7),url(../images/bgImg.jpg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 410px 400px; 
    background-color: #F3F4F7;
}

.phone .status-bar{
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
}

.status-bar__column{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.phone .back_btn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.back_btn{
    font-size: 20px;
}

.photos{
    display: flex;
    margin-top: 210px;
    justify-content: flex-end;
}

.photos .photos__photo{
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    border-radius: 5px;
}

.photos .photos__more{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #3F67FF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.tags{
    margin-top: 30px;
    display: flex;
}

.tags .tags__tag{
    padding: 10px 15px;
    margin-right: 10px;
    color: #1B4FFF;
    background-color: #DFE3F9;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    font-weight: 700;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
}
